# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Windows
Thumbs.db
Desktop.ini

# Environments
myVenv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
